/* Global */

* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*Website background */

body {
    background-color: white;
    margin: 0;
}

/* Header */

header {
    padding: 20px;
    background-color:rgb(7, 7, 49);
    
}

header h1 {
    display: inline-block;
    font-size: 36px;
   
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 15 px;
    
}
header nav ul {
    list-style: none;
  

}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
  
}
header nav ul li a {
    background-color:rgb(7, 7, 49);
    color:goldenrod;
    text-decoration: none;
   
}

header a {
    text-decoration: none;
    color:goldenrod;
}
.hero {
    margin-bottom: 25px;
    background-image: url("../images/PatternAesthetic.png");
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;

}
.hero-cta {
    width: 100%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    
  }

.hero-cta h2 {
    display: inline-block;
    font-size: 36px;
    color: rgb(7, 7, 49);
    background-color: goldenrod;
    padding-bottom: 20px;
}

/* About Me Section */

.section-title {
    border-bottom: 3px solid rgb(7, 7, 49);
    font-size: 36px;
    color:rgb(7, 7, 49);
    padding: 15px 5px 20px 25px;
    width: 80%;
}
.personalsection {
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.info p {
    color:rgb(7, 7, 49);
    font-size: 22px;
    text-align: left;
    width: 75%;
}
.recent-image{
    display: flex;
}
.about-me img {
    max-width: 200px;
    border-radius: 200px 200px;
    padding-top: 30px;

}
/* Run Buddy Project -> Main Project */
.projects {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.mainproject-img img {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    border-radius: 200px 200px;
    justify-content: center;
} 

.main-project h3 {
    text-align: center;
    color: goldenrod;
    padding: 10px;
}
.main-project p {
    text-align: center;
}

/* Side Projects & PlaceHolders */

.side-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
}

.featuredsideproject {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 1%;
    padding: 10px 0;
    max-width: 250px; 
}

.featuredsideproject a img {
    width: 75%;
    display: flex;
    border-radius: 100px 100px;
    padding: 20px;

}

.featuredsideproject h3, p {
    padding: 10px;
    color:goldenrod;
    text-decoration: none;
}

/* Contact Me Section */

.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
    padding: 50px 60px;
}
.contacts a {
    font-size: 36px;
    padding: 10px;
    color:goldenrod;
    text-decoration: none;
}

footer {
    display: flex;
    padding: 20px 50px;
    background-color:rgb(7, 7, 49);
}
footer nav {
    float: right;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline-block;
    margin-right: 25px;
}

footer nav ul li a {
    color:goldenrod;
    text-decoration: none;
    
}






/* Utilities */
.text-center {
    text-align: center;
}
.text-left {
   text-align: left;
}
.text-right {
   text-align: right;
}
